
.container{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    min-height: calc(100vh - 200px);
}

.container .formulario{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: transparent;
    width: 80%;
    max-width: 800px;
    background-color: #838383;
    padding: 0 5px;
    border-radius: 10px;
}

.tituloDos{
    font-size: 1.5em;
    color: white;
    padding: 10px 0;
    align-self: center;
}

.grupoCampo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 5px 0px;
}

.labelCliente{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #ffffff;
    width: 250px;
    height: 30px;
    font-size: 1rem;
}

.campoCliente{
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    width: 400px;
    height: 30px;
    font-size: 1rem;
    
}

.containerEtapa{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btnEtapa{
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    width: 200px;
    padding: 10px 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 20px auto 5px auto;
    cursor: pointer;
}

.btnEtapa:hover{
    background-color: white;
    color: blue;
    transition: 0.5s ease;
}

.containerDos{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 200px;
}

.containerTres{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #34495e;
    color: #ffffff;
    padding-top: 20px;
    min-height: calc(100vh - 400px);
}

.grupoCotizacion{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.grupoBtn{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #34495e;
    color: #ffffff;
}