.container-general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.container-firmantes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10px;
}

.container-trash{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnTrash{
    background-color: transparent;
    display: flex;
    cursor: pointer;
    align-self: flex-end;
    justify-self: start;
    border: none;
}

.container-firmantes .labelFirmante{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
    height: 30px;
    font-size: 1rem;
}

.container-firmantes .campoFirmante{
    border: none;
    height: 30px;
    font-size: 1rem;
}

.btnAgregar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    width: 200px;
    padding: 10px 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 20px auto 5px auto;
    cursor: pointer;
}

.btnAgregar:hover{
    background-color: white;
    color: blue;
    transition: 0.5s ease;
}