.navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #34495e;
}

.titulo{
    font-size: 2em;
    color: #eeeeee;
}

.logo{
    width: 120px;
    height: auto;
}

.version{
    font-weight: bold;
    color: #eeeeee;
}


