.grupoCliente{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grupoValor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grupoBien{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grupoDomicilio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}